@font-face {
	font-family: "Rubik";
	src: url("./Rubik/Rubik[wght].ttf");
	font-style: normal;
}

@font-face {
	font-family: "Rubik";
	src: url("./Rubik/Rubik-Italic[wght].ttf");
	font-style: italic;
}
