@import url("/styles/homepage.css");

@font-face {
	font-family: "HKGrotesk";
	src: url("/fonts/HKGrotesk/HKGrotesk-Medium.woff2");
}

:root {
	--font-family: "Source Sans", "Helvetica Neue", "Helvetica", sans-serif;
	--header-font: "";
	--pre-code-text-color: black;
	--bold-font-weight: 620;
	/* --code-text-color: black; */
}
@media screen and (prefers-color-scheme: dark) {
	:root {
		--pre-code-text-color: black;
		/* --code-text-color: black; */
	}
}

body {
	max-width: 1200px;
	margin: auto clamp(1vw, calc(15vw - 100px), 120px);
	font-size: 21px;
	/* font-variation-settings: "wdth" 90, "wght" 430; */
}

@media screen and (min-width: 1280px) {
	body.toc2 {
		padding: 0;
		margin: auto calc(7vw) auto calc(var(--toc-width-if-floating-left) + 9vw);
		width: unset;
		font-weight: 440;
	}
}

h1 {
	font-family: "HKGrotesk";
}

h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font), var(--font-family);
}

p {
	line-height: 1.3;
	font-size: 105%;
	font-weight: inherit;
}

code span.linenos {
	padding-right: 20px;
}
