@import url("../blog.css");

:root {
	--tabstop-color: rgb(95, 133, 143);
	--text-overlaid-shadow-color: var(--code-parent-bg-color);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--tabstop-color: rgb(104, 153, 202);
		--text-overlaid-shadow-color: var(--code-parent-bg-color);
	}
}

.tabstop {
	color: var(--tabstop-color);
}

.lies-on-tab-char {
	position: relative;
	z-index: 1;
	text-shadow: 0 -1px var(--text-overlaid-shadow-color),
		1px 0 var(--text-overlaid-shadow-color), 0 1px var(--text-overlaid-shadow-color),
		-1px 0 var(--text-overlaid-shadow-color);
	/* 0 0 2px var(--text-overlaid-shadow-color); */
}

.lies-on-tab-char:before {
	content: "│";
	position: absolute;
	z-index: -1;
	color: var(--tabstop-color);
	text-shadow: none;
}
